:root {
  box-sizing: border-box;
  font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  background-color: #cce7ee;
}

.main-container {
  flex: 1;
  margin: 0em auto 1em;
  width: 100%;
  display:block;
  align-content: center;
  overflow-y:scroll;
}

.title_container {
  background-color: inherit;
  display: flex;
  flex-direction:row;
  float:center;
  margin:0.5em auto 0.5em auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  position:sticky;
  top: 0;
  font-weight: bold;
}

.title_container > p {
  margin:0
}

.title_container > #p_fullname {
  padding:0 0 0 1.5em;
  width:28%
}

.title_container > #p_birthdate {
  width:17.5%
}

.title_container > #p_servicesnumber{
  width:14%
}

.container {
  background-color: rgb(228, 224, 220);
  border: 2px solid rgb(80, 120, 206);
  box-sizing: border-box;
  width:90%;
  max-width: 1280px;
  position:relative;
  height:auto;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
}

#id_buttons_service_container {
  display: flex;
  flex-flow: row nowrap;
  width:99%;
  padding: 0.3em 0;
  justify-content: space-around;
  margin: 0.3em 0;
}

.page-header {
  background-color: inherit 0.5
}

.page-header h1 {
  margin: 0;
  display: inline;
  font-size: 42px;
}

.page-header p {
  display: inline;
  font-size: 28px;
  padding: 0 0 0 1.2em
}

.title {
  text-align: left;
  margin-top: 1em;
  margin:0 2em
}

.grow-more {
  flex-grow: 1;
}

#id_title {
  color: black;
}

.btn_btn-person {
  background-color: rgb(238, 234, 185);
  color: #444;
  cursor: pointer;
  width: 100%;
  padding: 0.3em 0 0.3em 0;
  text-align: left;
  /* display: flex; */
  flex-direction: row;
  font-size: 1.1em;
  align-items:center;
  display: inline-flex
}

p[id^='p_id_fullName_']  {
  width:29%;
  margin:0.2em 0 0.2em 0;
  padding:0 0 0 0.6em;
}

p[id^='p_id_birthDate_']  {
  width:21%;
  margin:0;
}

p[id^='p_id_servicesNumber_']  {
  width:14%;
  margin:0;
}

.btn_btn-service {
  background-color: rgb(241, 176, 90);
  color: #444;
  cursor: pointer;
  width: 88%;
  padding: 0.2em 0 0.2em 0.7em;
  text-align: left;
  font-size: 1em;
}

.content-btn_person .content-btn_service {
  padding: 0 18px;
  display: none;
  max-height: 200px;
  overflow: hidden;
  background-color: inherit;
  transition: max-height 0.5s ease-out;
}

.btn_btn-person:hover {
  background-color: rgb(207, 200, 102);
}

.btn_btn-service:hover {
  background-color: rgb(194, 128, 41);
}

.btn_btn-person:after {
    content: '\02795';
    display: inline-flex;
    align-content: right;
    font-size: 1em;
    color: white;
    float: right;
    margin: 0em 1em 0em 0em;
    margin-left: auto;
}

.btn_btn-service:after {
  content: '\02795';
  align-content: center;
  font-size: 1em;
  color: white;
  float: right;
  margin: 0em 1.5em 0em 0em;
  margin-left: auto;
}

.btn_btn-person.active:after, .btn_btn-service.active:after {
    content: '\02796';
}

button[class^='btn_add_']  {
  margin-left: auto;
  cursor: pointer;
  width: auto;
  min-width: 10em;
  height: 2.1em;
  background-color: rgb(233, 224, 224);
}

.btn_add_person {
  margin:0 2em 0 auto;
}

.btn_add_service {
  margin-left: 0.1em;
  text-align: center;
  font-size: 1em;
}

button[class^='class_btn_update_']  {
  margin: 0em 0em 0.5em 0em;
  cursor: pointer;
  color: black;
  font-size: 1.1em;
}

.class_btn_update_patient  {
  background-color:   rgb(238, 234, 185);
  border: 2px solid outset rgb(207, 200, 102);
}

.class_btn_update_service  {
  background-color :rgb(241, 176, 90);
  border: 2px solid outset rgb(194, 128, 41);
}

td > .form_patient, td > .form_service {
  margin:5px 5px 0px 5px;
  min-width: 400px;
  padding: 0.3em 0em 0em 0em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  padding: 0em 2em 0em 5em
}

.detail_service {
  padding: 1em 1em 0em 4em
}

.head_service {
  padding: 3em 2em 0em 4.5em
}

.input-group {
  flex-grow: 0;
  margin: 0 0.5em 0.5em;
}

.input-group > input {
  flex-grow: 2;
  width: 25em;
}

.input-group > label {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
}

.input-group input, .input-group > select[class^='class_input_'], textarea {
  display: block;
  margin: 0.2em 0 0;
  flex-grow: 2;
  font-size: 0.9em;
  border-width: 2px;
  border-style: inset;
  border-color: inherit;
  padding: 0.3em 0.3em;
  background-color: aliceblue;
}

.no-grow > input {
  flex-grow: 1;
  max-width: 12em;
  width: 10em
}

.no-grow > select[class$="gender"] {
  min-width: 10em;
}

.no-grow > select {
  min-width: 25em;
}

.no-grow > input[type="date"] {
  min-width: 12em;
}

input[pattern]:invalid{
  color:red;
  border: 2px inset red;
}

table {
  border: 2px solid #FFFFFFFF;
  width: 100%;
  background-color: inherit
}

.service_type {
  width:50%;
}

.center_aligned {
  display:block;
  text-align:center;
  justify-content: center; 
  margin:0;
}

td > div > p {
  font-weight: bold;
  margin:2em auto 0
}

.class_input_imgSource{
  width:25%;
  text-align:center;
  padding:0 0 0 4em
}

.class_input_imgSource > input {
  visibility: hidden;
  width: 1px;
  height: 1px
}


img {
  text-align: center;
  background-color: lightgray;
  cursor:pointer;
  width: 120px;
  height: 160px;
  src:"images/default.jpg";
  alt:"Clicca qui per caricare la foto"

}

select {
  font-size: 1em;
}

 .footer {
  height: 20px;
  color: rgb(172, 153, 153);
  background-color: rgb(53, 36, 36);
  padding: 15px;
  text-align: left;
  font-size: 10px;
  }

