:root {
  box-sizing: border-box;
  }

  *,
::before,
::after {
    box-sizing: inherit;
}

.third-party-component {
  box-sizing: content-box;
  }

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  background-color: #afd5e0;
}

.main-container {
  flex: 1;
  margin: 0em auto 1em;
  width: 100%;
  display:block;
  align-content: center;
  overflow-y:scroll;
}

.title_container {
  background-color: inherit;
  display: flex;
  flex-direction:row;
  float:center;
  margin:0.5em auto 0.5em auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  position:sticky;
  top: 0;
}

.container {
  background-color: lightgray;
  border: 2px solid rgb(19, 17, 150);
  border-radius: 5px;
  box-sizing: border-box;
  width:90%;
  position:relative;
  height:auto;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
}

.page-header {
  flex-direction: column;
  background-image: url('../images/header.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: chalkduster;
  padding: 2em;
  margin: 0px;
  width: 100%;
}

.page-header h1 {
  margin: 0;
  display: inline;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.5);
}

.page-header p {
  display: inline;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.5);
}

.title-wrapper {
  text-align: center;
  margin-top: 0.5em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0 0.3em 0.3em;
  background-color: #afd5e0;
  margin-top: 0em;
}

nav a {
  flex-grow: 0;
}

nav a:hover img {
  background-color: #bbb;
}

nav a:active img {
  background-color: #999;
}

.menu-item {
  margin: 5px;
  padding: 0.5em 1em;
  background-color: rgb(150, 141, 141);
  color: white;
  font-family: tahoma;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}

.menu-item:hover {
  background-color: rgb(117, 93, 93);
}

.grow-more {
  flex-grow: 1;
}

#my-title {
  color: black;
}

.btn_btn-person {
  background-color: rgb(240, 116, 116);
  color: #444;
  cursor: pointer;
  border-radius: 50px black;
  width: 100%;
  padding: 0.3em 0 0.3em 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.btn_btn-service {
  background-color: rgb(54, 170, 54);
  color: #444;
  cursor: pointer;
  border-radius: 10px black;
  width: 90%;
  padding: 0.2em 0 0.2em 0.7em;
  text-align: left;
  font-size: 1em;
}

.content-btn_person .content-btn_service {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #b7c8f7;
}

.btn_btn-person:hover {
  background-color: rgb(224, 50, 50);
}

.btn_btn-service:hover {
  background-color: rgb(26, 105, 26);
}

.btn_btn-person:after {
    content: '\02795';
    display: inline-flex;
    align-content: right;
    font-size: 1em;
    color: white;
    float: right;
    margin: 0em 1em 0em 0em;
    margin-left: auto;
}

.btn_btn-service:after {
  content: '\02795';
  align-content: center;
  font-size: 1em;
  color: white;
  float: right;
  margin: 0em 1em 0em 0em;
  margin-left: auto;
}

.btn_btn-person.active:after, .btn_btn-service.active:after {
    content: '\02796';
}

button[class^='btn_add_']  {
  margin-left: auto;
  border-radius: 0.5em;
  width: auto;
  min-width: 10em;
  height: 2.2em;
  background-color: lightgray
}

button[class^='class_btn_update_']  {
  margin: 0em 0em 0.5em 0em;
  border-radius: 0.5em;
  color: black;
  font-size: 1.1em;
}

.class_btn_update_patient  {
  background-color:  rgb(240, 116, 116);
  border: 1px solid rgb(224, 50, 50);
}

.class_btn_update_service  {
  background-color:  rgb(54, 170, 54);
  border: 1px solid rgb(26, 105, 26);
}

td > .form_patient, td > .form_service {
  margin:5px 5px 0px 5px;
  min-width: 400px;
  padding: 0.3em 0em 0em 0em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  padding: 0em 1em 0em 3em
}

.input-group {
  flex-grow: 0;
  margin: 0 0.5em 0.5em;
}

.input-group > input {
  flex-grow: 2;
  width: 20em;
}

.input-group > label {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
}

.input-group input, .input-group > select[class^='class_input_'], textarea {
  display: block;
  margin: 0.2em 0 0;
  flex-grow: 2;
  font-size: 0.9em;
  border-width: 2px;
  border-style: inset;
  border-color: inherit;
  padding: 0.3em 0.1em;
  background-color: aliceblue;
}

.no-grow > input {
  flex-grow: 1;
  max-width: 10em;
  width: 7em
}

.no-grow > select[class$="gender"] {
  min-width: 8em;
}

.no-grow > select {
  min-width: 18em;
}

.no-grow > input[type="date"] {
  min-width: 10em;
}

input[pattern]:invalid{
  color:red;
  border: 2px inset red;
}

table {
  border: 2px solid #FFFFFFFF;
  width: 100%;
  background-color: lightgray;
}

td .center_aligned{
  display:block;
  text-align:center;
  margin:0 auto 0.5em;
}

td > p {
  color: rgb(54, 170, 54);
  font-weight: bold
}

img {
  text-align: center;
  background-color: lightgray
}

select {
  font-size: 1em;
}

/* select:invalid {
  color: gray;
  margin: 0
 } */

 .footer {
  height: 20px;
  color: rgb(172, 153, 153);
  background-color: rgb(53, 36, 36);
  padding: 15px;
  text-align: left;
  font-size: 10px;
  }

